// src/global.less
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vm;
    height: 100vh;
    background-color: #282c34;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.header {
    width: 100vm;
    height: 20vh;
    background-color: #282c34; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: antiquewhite;
    font-size: 20px;
    margin: 0;
}

.body {
    margin: 0;
    width: 100%;
    height: 70vh;
    background-color: #282c34; // 如果你要黑色背景，直接设为黑色
    color: antiquewhite;
    
}

.footer {
    width: 100vm;
    height: 10vh;
    background-color: #282c34;
    display: flex;
    color: antiquewhite;
}