.button {
  display: flex;
  justify-content: center; /* 垂直居中（column 方向） */
  align-items: center;     /* 水平居中（column 方向） */
  flex-direction: column;
  width: 200px;
  height: 50px;
  background-color: rgb(65, 214, 57);
  color: white;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 15px auto;
  margin-top: 50px;
  border: #282c34 solid 3px;
}

.button:hover {
    background-color: rgb(57, 159, 44);
    color: white;
    transform: scale(1.2);
    border: rgb(57, 159, 44) solid 3px;
}